
<link href="css/profile.css" rel="stylesheet">

<div class="profile-page d-flex">

    <div class="profile-main d-flex flex-column">

        <h2 class="profile-title">
            <%= player.username %>
        </h2>

        <small class="profile-email">
            <%= player.email %>
        </small>
        
        <ul class="profile-stats list-group list-group-flush">
            <li class="list-group-item">Plays: <%- player.plays -%></li>
            <li class="list-group-item">Wins: <%- player.wins -%></li>
            <li class="list-group-item">Draws: <%- player.draws -%></li>
            <li class="list-group-item">Losses: <%- player.losses -%></li>
        </ul>


    </div>

    <div class="profile-aside d-flex flex-column justify-content-between">

        <div class="profile-avatar">
            <img class="avatar-img" src="images/avatars/<%= player.avatar %>.png" alt="player avatar">
            <small>
                <a href="/change-avatar">Change Avatar</a>
            </small>
        </div>
        <small class="profile-id">
            <%= player._id %>
        </small>

        <a href="/edit-account">Account Settings</a>

        <a href="/delete-account">Delete Account</a> 

    </div>
    
</div>

<script src="js/profile.js"></script>
