<%- include('./main') -%>

<link href="css/main.css" rel="stylesheet">
<link href="css/profile.css" rel="stylesheet">

<div class="container d-flex">

    <div class="profile-main">

        <h3 class="profile-title">
            <%- player.username -%>
        </h3>

        <small>ID: <%- player._id -%></small>
        
        <div class="profile-stats">
            <ul>
                <li>Plays: <%- player.plays -%></li>
                <li>Wins: <%- player.wins -%></li>
                <li>Draws: <%- player.draws -%></li>
                <li>Losses: <%- player.losses -%></li>
            </ul>
        </div>

        <div class="play-game">
            <a href="/game">Play Now!</a>
        </div>

        <a href="/">Go Home!</a>

    </div>

    <div class="profile-aside">
            <div class="profile-avatar">
                <img src="images/avatar.png" alt="player avatar">
            </div>
            <p><a href="/edit-account">Account Settings</a></p>
            <p><a href="/delete-account">Delete Account</a></p>  
            <p><a href="/logout">Log Out</a></p>
    </div>
    
</div>